/* src/App.css */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
}
